:root {
    --dark-blue: #333446;
    --blue: #7f8caa;
    --light-blue: #b8cfce;
    --grey: #eaefef;
}

body {
    margin: 0px;
    background-color: var(--grey);
}

.container {
    display: flex;
    height: 100vh;
}

.col-header {
    flex: 1;
    background-color: var(--blue);
}

.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--blue);
}

.navbar a {
    padding: 10px;
    background-color: var(--blue);
    float: top;
}

.navbar a:hover {
    background-color: var(--light-blue);
}

.scroll {
    margin: 0 auto;
    max-width: 25em;
}

.col-scroll {
    flex: 7;
}

.col-content {
    flex: 9;
    margin: 10px;
    padding: 10px;
    background-image: url("../../img/lake1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: solid;
    border-radius: 20px;
    border-color: var(--dark-blue);
}

.col-button {
    flex: 1;
    background-image: url(../../img/thumbs-up.png);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.row-button {
    flex: 1;
}
