:root {
    --dark-blue: #333446;
    --blue: #7f8caa;
    --light-blue: #b8cfce;
    --grey: #eaefef;
}

body {
    margin: 0px;
    background-color: var(--grey);
}

.container {
    display: flex;
    height: 100vh;
}

.col-header {
    flex: 1;
    background-color: var(--blue);
}

.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--blue);
}

.navbar a {
    padding: 10px;
    background-color: var(--blue);
    float: top;
}

.navbar a:hover {
    background-color: var(--light-blue);
}

.col-content img {
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.col-scroll {
    flex: 7;
}

.scroll {
    justify-content: center;
    align-items: center;
}

.img-box {
    height: 100%;
    width: 66.666667%;
    overflow: hidden;
    object-position: center;
}

.col-button {
    width: 60px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.row-button {
    flex: 1;
    background-image: url(../../img/thumbs-up.png);
    /* background-size: 50px; */
    background-repeat: no-repeat;
}
