:root {
    --dark-blue: #333446;
    --blue: #7f8caa;
    --light-blue: #b8cfce;
    --grey: #eaefef;
}

body {
    margin: 0px;
    background-color: var(--grey);
}

.container {
    display: flex;
    height: 100vh;
}

.leftbar {
    background-color: var(--blue);
}

.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--blue);
}

.navbar a {
    padding: 10px;
    background-color: var(--blue);
    float: top;
}

.navbar a:hover {
    background-color: var(--light-blue);
}

.interactive {
    flex: 1;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-wrapper {
    aspect-ratio: 3/2;
    width: 60%;
    background-color: Red;
    background-image: url("../../img/weedtree.jpg");
    background-size: cover;
    background-position: center;
}

@keyframes swipeRight {
    0% {
        transform: rotate(0deg) translateX(0) scale(1);
    }
    100% {
        transform: rotate(45deg) translateX(1000px) scale(0.3);
    }
}

.flyRight {
    animation: swipeRight 0.5s ease-in;
}

@keyframes swipeLeft {
    0% {
        transform: rotate(0deg) translateX(0) scale(1);
    }
    100% {
        transform: rotate(-45deg) translateX(-1000px) scale(0.3);
    }
}

.flyLeft {
    animation: swipeLeft 0.5s ease-in;
}
