*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--blue);
}

.col-header {
    background-color: var(--blue);
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}

.card{
    position: relative;
    width:425px;
    height: 325px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 12px #ccc;
}



.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 20px;

}

.overlay h3 {
    font-size: 30px;
    margin-top: 0px;
}

.overlay p{
    margin: 10px 0px;
}

:root {
    --dark-blue: #333446;
    --blue: #7f8caa;
    --light-blue: #b8cfce;
    --grey: #eaefef;
}

body {
    margin: 0px;
    background-color: var(--grey);
}

.container {
    display: flex;
    height: 100%;
   
}

.col-header {
    background-color: var(--blue);
}

.navbar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--blue);
    height
}

.navbar a {
    padding: 10px;
    background-color: var(--blue);
    float: top;
}







